body {
    background-color: #f2cda0;
    min-height: 98.9vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.model {
    border: 1.3px solid #193620;
}

.modal-content {
    background-color: #f2cda0;
}

.avatar {
    padding-top: 5%;
    padding-bottom: 5%;
}

.card {
    align-items: center;
    text-align: center;
    background-color: #f1a08e;
    border: 0.2em solid #d96666;
}

.modal-header {
    text-align: center;
    color: #fff;
    background-color: #42724e;
}

.modal-body {
    padding: 1rem 1rem 0 1rem;
}

.modal-footer {
    justify-content: center;
    border: none;
    padding: 0 .75rem .75rem .75rem;
}

.green-btn {
    margin: 1em 0.5em;
    padding: 0.5em 1em;
    text-align: center;
    background-color: #42724e;
    border-color: #42724e;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.text-middle {
    margin-top: 0.5em;
}

#board-length {
    width: 30%;
}

.container {
    display: grid;
    grid-template-columns: 22% auto 22%;
    grid-gap: 5%;
    align-self: center;
    justify-content: center;
}

.accordion {
    margin-top: 20px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.img-zoom {
    transform: scale(1.5);
}

#border {
    justify-self: center;
    width: 50vw;
    height: 50vw;
    background-color: #f1a08e;
    justify-content: center;
    align-self: center;
    border-radius: 8px;
    border: 0.2em solid #d96666
}

.local-board {
    width: 90%;
    height: 90%;
    transform: translate(7.5%, 5.5%);
}

.online-board {
    width: 80%;
    height: 80%;
    transform: translate(15.5%, 1.5%);
}

.cell {
    background-color: #63a774;
    --bs-bg-opacity: 1;
    border: 1.3px solid #193620;
}

.player {
    background-color: #f1a08e;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 0.2em solid #d96666
}

.player_name {
    background-color: #d96666;
    color: white;
    margin: 7%;
    padding: 7%;
    text-align: center;
    border-radius: 8px;
}

#my_turn {
    background-color: #d96666;
    color: white;
    margin: 1.9%;
    padding: 2.2%;
    text-align: center;
    border-radius: 8px;
    width: 40%;
    transform: translate(70.5%, 8.5%);
}

.pieces {
    font-size: 2vw;
    font-weight: 500;
}

#p1-color, #p2-color {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    flex-basis: 100px;
}

#p1-color {
    background-image: url("images/piece_white.png");
}

#p2-color {
    background-image: url("images/piece_black.png");
}

#p1-w {
    transition: .2s;
}
#p1-w:hover {
    transform: scale(1.5);
}
#p1-b {
    transition: .2s;
}
#p1-b:hover {
    transform: scale(1.5);
}
#p2-w {
    transition: .2s;
}
#p2-w:hover {
    transform: scale(1.5);
}
#p2-b {
    transition: .2s;
}
#p2-b:hover {
    transform: scale(1.5);
}

.piece_selected {
    transform: scale(1.35);
}

.player img {
    align-self: center;
    max-width: 85%;
    overflow: auto;
}

.green-btn:hover {
    background-color: #47b160;
    border-color: #47b160;
}

.piece_placeholder {
    opacity: 0.3;
}

.piece_placeholder:hover {
    opacity: 1;
}

#quit {
    margin: 80% 5% 15% 5%;
}

.progress{
    transform: translate(-2%, -2%);
}

.input-group {
    margin-left: 5px;
}

#sectionTitle{
    text-align: center;
    background-color: #42724e;
    color: white;
    margin: 5% 0%;
    padding: 2.2%;
    border-radius: 8px;
}

#colorMessage {
    border-radius: 10px;
    padding: 15px;
    min-height: 40%;
    max-height: 40%;
}

#colorPlayers {
    background-color: #ffe5c6;
    padding: 15px;
}

.players-list {
    color: #42724e;
    margin-bottom: 10px;
}

.join-room-response,
.left-room-response {
    color: #42724e;
    font-weight: 600;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.chat-message {
    margin: 5px 0;
    padding: 8px 12px;
    background-color: #d96666;
    border-radius: 5px;
    color: rgb(247, 236, 236);
}

#messages {
    max-height: 65%;
    overflow-y: auto; 
    padding: 10px;
}

#chatButton {
    background-color: #42724e;
    border-color: #42724e;
    border-radius: 10px;
    color: rgb(247, 236, 236);
}

#chatButton:hover {
    background-color: #47b160;
    border-color: #47b160;
}

@media only screen and (orientation:landscape) {
    #force_rotation {
        display: none;
    }
}

@media only screen and (orientation:portrait) {
    #force_rotation {
        display: block;       
        padding-top: 3em;
        padding-bottom: 3em;
        text-align: center;
        background-color:rgb(199, 45, 45);
        color: white;
        font-size: 1em;
        width: 100%;
        
    }
    .container {
        display: none;
    }
}