body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffe5c6;
}

.variant-btn {
    background-color: #e57373;
    border-color: #ed7373;
    border: 0.2em solid #d96666;
    color: rgb(247, 236, 236);
}

.variant-btn:hover {
    background-color: #f1a08e;;
    border: 0.2em solid #d96666;
    color: rgb(247, 236, 236);
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
}

#nameInput {
    border-radius: 10px;
}

#lobbyButton, #displayName, .local-btn{
    background-color: #42724e;
    border-color: #42724e;
    border-radius: 10px;
    color: rgb(247, 236, 236);
}

.local-btn{
    width: 30%;
}

#displayName {
    margin-left: 10px;
}

#lobbyButton:hover, .local-btn:hover{
    background-color: #47b160;
    border-color: #47b160;
    color: rgb(247, 236, 236);
}

#userInfo { 
    background: transparent url(../images/user.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 100%;
}  

#quoteBox, #countryInfo {
  font-size: 1rem;          
  font-weight: 400;        
  margin-top: 15px;        
  margin-bottom: 10px;
  color: #333;
  font-style: italic;
  padding: 10px 15px;
  border-left: 4px solid #42724e;
  border-right: 4px solid #42724e;
  background-color: #fff9f4;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
  max-width: fit-content;    
  margin-left: auto;        
  margin-right: auto;
}