body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffe5c6;
}

.input-group {
    margin-left: 5px;
}

.header-row {
    background-color: #e57373;
    padding: 20px 0;
    margin-bottom: 20px;
    border: 0.2em solid #d96666;
    border-radius: 10px;
}

#lobbyTitle, #sectionTitle{
    font-weight: 600;
    font-family: monospace;
    text-align: center;
}

#lobbyTitle {
    color: rgb(247, 236, 236); 
}

#sectionTitle{
    color: #42724e
}

#colorMessage {
    border: 0.2em solid #d96666;
    border-radius: 10px;
    padding: 15px;
}

#colorPlayers {
    background-color: #ffe5c6;
    padding: 15px;
}

.players-list {
    color: #42724e;
    margin-bottom: 10px;
}

.join-room-response,
.left-room-response {
    color: #42724e;
    font-weight: 600;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.chat-message {
    margin: 5px 0;
    padding: 8px 12px;
    background-color: #ed7373;
    border-radius: 5px;
    color: rgb(247, 236, 236);
}

#messages {
    max-height: 300px;
    overflow-y: auto; 
    padding: 10px;
}

#chatButton {
    background-color: #42724e;
    border-color: #42724e;
    border-radius: 10px;
    color: rgb(247, 236, 236);
}

#chatButton:hover {
    background-color: #47b160;
    border-color: #47b160;
}

.invite-btn {
    background-color: #42724e;
    border-color: #42724e;
    color: rgb(247, 236, 236);
}

.invite-btn:hover {
    background-color: #47b160;
    border-color: #47b160;
    color: rgb(247, 236, 236);
}

.invited-btn, .play-btn, .invited-btn:hover, .play-btn:hover{
    background-color: #f1a08e;
    border: 0.2em solid #d96666;
    color: rgb(247, 236, 236);
}
